
<nav class="navbar">
    <ul>
      <li><h3>Create Room</h3></li>
    </ul>
    <div class="navbar-buttons">
      <a routerLink="/admin-home">Dashboard</a>
    </div>
  </nav><br>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <form (ngSubmit)="onSubmit()" #roomForm="ngForm" novalidate>
  
          <div class="form-group">
            <label for="roomNumber">Room number:</label>
            <input type="text" class="form-control" id="roomNumber" [(ngModel)]="room.roomNumber" name="roomNumber" required>
            <div *ngIf="roomForm.controls['roomNumber'].invalid && (roomForm.controls['roomNumber'].dirty || roomForm.controls['roomNumber'].touched)" class="alert alert-danger">
              Room Number is required.
            </div>
          </div>
  
          <div class="form-group">
            <label for="roomType">Room type:</label>
            <select class="form-control" id="roomType" required [(ngModel)]="room.roomType" (change)="onRoomTypeChange($event)">
              <option *ngFor="let i of rooms" [value]="i">{{i}}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="roomPrice">Room price:</label>
            <input type="text" class="form-control" id="roomPrice" [(ngModel)]="room.roomPrice" name="roomPrice" required minlength="4" pattern="\d{4,}">
            <div *ngIf="roomForm.controls['roomPrice'].invalid && (roomForm.controls['roomPrice'].dirty || roomForm.controls['roomPrice'].touched)" class="alert alert-danger">
              Room price is required, Minimum 4 digits.
            </div>
          </div>
  
          <div class="form-group">
            <label for="roomBeds">Number of beds:</label>
            <select class="form-control" id="roomBeds" required [(ngModel)]="room.roomBeds" name="roomBeds">
              <option *ngFor="let i of beds" [value]="i">{{i}}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="roomImage">Room image paths:</label>
            <select class="form-control" id="roomImage" required [(ngModel)]="room.roomImage">
              <option *ngFor="let image of roomImages" [value]="image">{{ image }}</option>
            </select>
          </div>
  
          <button class="btn btn-success" type="submit">Submit</button>
  
        </form>
      </div>
    </div>
  </div>
  