
  <header>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/user-home">Dashboard</a></li>
      </ul>
    </nav>
  </header>


  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="thank-you-message">
          <h2 class="display-4">Thank You!</h2>
          <p class="lead">You have successfully applied for the insurance policy.</p>
        </div>
      </div>
    </div>
  </div>
