<nav class="navbar">
  <ul>
    <li><h3>Welcome to room booking system</h3></li>
  </ul>
  <div class="navbar-buttons">
    <a class="login-link" href="/login">Login</a>
    <a class="signup-link" href="/signup">Signup</a>
    <a class="login-link" href="/admin-login">Admin Login</a>
  </div>
</nav>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Room Booking System - Home</title>
  <link  href="/home.component.css">
</head>

<body>
   
  <header>
   
    <div class="room-images">
      <img src="/assets/Room home page1.jpeg" alt="Room 1">
      <img src="/assets/Room home page2.jpeg" alt="Room 2">
      <img src="/assets/Room home page3.jpg" alt="Room 3">
    </div>
  </header>


  <div class="room-details">
    <h2>Explore Our Rooms</h2><br>
    <div class="room-card">
      <img src="/assets/Ac Room.jpg" alt="AC Room">
      <div>
        <h3>AC Room</h3>
        <p>Perfect for solo travelers or couples. Features a comfortable queen/king-sized bed, en-suite bathroom, TV, Wi-Fi, and workspace.</p>
      </div>
    </div>
    <div class="room-card">
      <img src="/assets/Delux Room.jpg" alt="Deluxe Room">
      <div>
        <h3>Deluxe Room</h3>
        <p>Spacious and elegant. Offers a luxurious king-sized bed, larger living space, mini-bar, city view, and deluxe furnishings.</p>
      </div>
    </div>
    <div class="room-card">
      <img src="/assets/SuperDelux Room.jpeg" alt="SuperDelux Room">
      <div>
        <h3>SuperDelux Room</h3>
        <p>The epitome of luxury. Features a separate living area, plush king-sized bed, Jacuzzi, panoramic view, and personalized concierge service.</p>
      </div>
    </div>
  </div>
  <h5>For more detail login or register.......</h5>



  <footer>
    <div class="contact-info">
      <h2>Contact Information</h2>
      <p>Email: ghodakevivek@gmail.com</p>
      <p>Phone: +91 7775986609</p>
      <!-- Add more contact information as needed -->
    </div>
  </footer>

</body>
</html>


