<nav class="navbar">
  <ul>
    <li><h3>User Dashboard</h3></li>
  </ul>
  <div class="navbar-buttons">
    <a routerLink="/home">Home</a>&nbsp;
    <a class="btn btn-danger" (click)="logout()">Logout</a>
  </div>
</nav>




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
  <link  href="/user-home/user-home.component.css">
</head>
<body>

<div class="dashboard">
  <div class="dashboard-links">
    <h5>If you wan't to book a room click on the images.....</h5>
    <a href="/view-room">View Rooms</a>
    <a href="/create-booking">Book a Room</a>
    <a href="/create-payment">Make Payment</a>
  </div>




 



</div>

</body>



<div class="room-buttons">
  <a href="/view-room">
    <img src="/assets/Ac Room.jpg" alt="AC Room">
  </a>

  <a href="/view-room">
    <img src="/assets/Delux Room.jpg" alt="Deluxe Room">
  </a>
  </div><br>
  

<div class="room-buttons">
  <a href="/view-room">
   <img src="/assets/SuperDelux Room.jpeg" alt="SuperDelux Room">
  </a>

  <a href="/view-room">
    <img src="/assets/Twin Room.jpg" alt="Twin Room">
  </a>
</div>


</html>
